.saved-pokemon{
  flex: 1;
  padding: 15px;
  display: flex;
  flex-flow: column;
  // overflow: scroll;

  &__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 15px;
  }

  &__empty{
    text-align: center;
    margin: auto;
    cursor: pointer;
    
    img{
      width: 100px
    }
  }
}